@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 16px;
  font-weight: 400;
  background-color: #F5F5F5;
  color: #000;
}



#scroll_none::-webkit-scrollbar {
  display: none;
}

.scroll_none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  color: #7F7F7F;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}


@media screen and (max-width: 480px) {}